
/* Quicktabs - Enw theme style
 * http://drupal.org/project/enw
 */

.quicktabs_main.quicktabs-style-enw {
  clear: both;
  padding: 8px 0;
  position: relative;
  top: -0.1em;
  background: url(../enw/images/grid.jpg);
}

.quicktabs_main.quicktabs-style-enw .item-list ul {
  margin-bottom: 0;
}

ul.quicktabs-tabs.quicktabs-style-enw {
  margin: 0;
  padding: 0;
  background: url(../enw/images/gridactive.jpg) ;

}

ul.quicktabs-tabs.quicktabs-style-enw li {
  float: left;
  font-weight: normal;
  list-style: none;
  margin: 0;
border-right: 1px solid #eee;
  min-height: 2.95em;
  padding: 10px 7px 0px 7px;
  background: #FFF;
border-top: 5px solid #d3ac32;
}

ul.quicktabs-tabs.quicktabs-style-enw li.active {
background: url(../enw/images/grid.jpg);
border-top:5px solid #8BB338;

}

ul.quicktabs-tabs.quicktabs-style-enw li a,
ul.quicktabs-tabs.quicktabs-style-enw li a:visited {
  float: left;
  display: block;
  line-height: 2.3em;
  padding: 0 8px;
  text-decoration: none;
  font-size: 16px;
  color: #777;
  position: relative;
  font-family:微軟正黑體;
}

ul.quicktabs-tabs.quicktabs-style-enw li a:hover,
ul.quicktabs-tabs.quicktabs-style-enw li.active a:hover {
  text-decoration: none;



  color: #333;
}

ul.quicktabs-tabs.quicktabs-style-enw li.active a,
ul.quicktabs-tabs.quicktabs-style-enw li.active a:visited {

  font-weight: bold;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  top: -0.025em;
font-family:微軟正黑體;

}

ul.quicktabs-tabs.quicktabs-style-enw li:first-child a {
  border-left: solid 1px #eee;
  padding:0px 15px;

}

ul.quicktabs-tabs.quicktabs-style-enw li.active a {

}

ul.quicktabs-tabs.quicktabs-style-enw li a:focus,
ul.quicktabs-tabs.quicktabs-style-enw li a:active {
  outline: none;
  
}

/* Opera */
/* disable - do not know why this fix is for but it hides quicktabs
@media all and (min-width: 0px) {
  body .quicktabs_main.quicktabs-style-enw {
    top: -0.2em;
	display:none;
  }
}
*/
