.views-exposed-form .views-exposed-widget {
  float: left; /* LTR */
  padding: .5em 1em 0 0; /* LTR */
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}

.views-exposed-form label {
  font-weight: bold;
}

.views-exposed-widgets {
  margin-bottom: .5em;
  padding:20px;
  margin-top:60px;
  background: url(../images/grid.jpg);
}

/* table style column align */
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}

/* Remove the border on tbody that system puts in */
#block-quicktabs-default-tabs{
background:#fff;
}
.views-view-grid tbody {
  border-top: none;
}
.event-views {
  #background: url(../images/active.png) left top no-repeat;
  background:#eee7c8;
  
  #border-bottom: 5px solid rgb(162, 182, 86);
}
tr.even.row-date {
  #background: #dff1f7;
  border-left: 5px solid #776e4d;
}
td.views-field.views-field-field-event-date {
  width: 100px;
  padding: 0px 10px 0px 20px;
  #border: 1px solid #fff;
}
tr.odd.row-date {
 #background: rgb(239, 255, 157);
 border-left: 5px solid;
}
tr.row-date {
  width: 50px;
.view .progress-disabled {
  float: none;
  background:url(../images/)
}
